:root {
  --theme-elevation-0: #0d1115;
  --theme-elevation-50: #141a21;
  --theme-elevation-100: #1b222b;
  --theme-elevation-150: #232b35;
  --theme-elevation-200: #2d3641;
  --theme-success-500: #87c38f;
  --theme-warning-500: #f1b85b;
  --theme-error-500: #df7a74;
}

